

body {
  margin: 0;
  padding: 0;
}

#header {
  text-align: center;
  color: green;
  padding-bottom: 5vh;
  font-family: "Shippori Mincho", serif;
}

#contentWrapper {
  display: flex;
  width: 100vw;
  height: 90vh;
  justify-content: center;
}

#SideBar {
  width: 20vw;
  height: 65vh;
  font-family: "Shippori Mincho", serif;
}

#Map {
  height: 60vh;
  padding-left: 10vw;
}

#barInfo {
  height: 65vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Shippori Mincho", serif;
}

